* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #222;
}

.lancer-slider {
    text-align: center;
    margin-top: 25px;
}

.lancer-slider h1 {
    color: #835afd;
}

.carousel-container {
    width: 40%;
    margin: auto;
    margin-top: 25px;
    border: 5px solid #835afd;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background: transparent;
}
#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background: transparent;
}

.wrx-slider {
    text-align: center;
    margin-top: 25px;
}

.wrx-slider h1 {
    color: #835afd;
}

.carousel-container2 {
    width: 40%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    border: 5px solid #835afd;
    overflow: hidden;
    position: relative;
}

.carousel-slide2 {
    display: flex;
    width: 100%;
    height: 500px;
}

#prevBtn2 {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background: transparent;
}
#nextBtn2 {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background: transparent;
}


